<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Simple Chat App</title>
  </head>

  <body>
    <header>
      <h1>Super Chat</h1>
    </header>

    <section>
      <div id="change_username">
	<input id="username" type="text" />
	<button id="send_username" type="button">Change username</button>
	<button id="connect" type="button">connect</button>
	<button id="disconnect" type="button">disconnect</button>
	<button id="chatroom1" type="button">chatroom1</button>
	<button id="chatroom2" type="button">chatroom2</button>

	<button id="chatlog" type="button">chatlog</button>
	<button id="eventlog" type="button">eventlog</button>
	<button id="chat1" type="button">chatlog chatroom1</button>
	<button id="chat2" type="button">chatlog chatroom2</button>      

      </div>
    </section>

    <section id="chatroom">
      <section id="feedback"></section>
    </section>



    <section id="input_zone">
      <input id="message" class="vertical-align" type="text" />
      <button id="send_message" class="vertical-align" type="button">Send</button>
    </section>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
